
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
	width: 100vw;
	background-color: #DB5461;
	color: white;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 1.5rem 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header a {
  color: white;
  text-decoration: none;
  transition: 0.3s all ease;
  position: relative;
}

.container{ 
  width: 100vw;
  background-color: #3891A6;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

#map{
  height: 750px; 
  width: 75%;
   margin: 20px;
}
.info { 
  margin-top: 20px; 
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.random-flight-title{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4C5b5C;
}
#trackRandomFlight-btn{
  color: #4C5b5C;
  background-color: #DB5461;
  box-shadow: #E3655B .5px ;
  border-radius: .25rem;
  margin: 5px;

}